@font-face {
    font-family: "Alkhemikal";
    src: url("assets/fonts/Alkhemikal.ttf");
}

:root {
    --border-basic: url("assets/misc/box_basic.png");
    --border-weapon: url("assets/misc/box_red_border.png");
    --background-color: #25131a;
    --icon-weapon-corner: url("assets/icons/small_sword_corner.png");
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: "Alkhemikal", sans-serif;
    color: #e6deca;
    background-color: var(--background-color);
}

.build-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.item-slots {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.item-slot {
    width: 64px;
    height: 64px;
    border: 9px solid transparent;
    border-image-source: var(--border-basic);
    border-image-slice: 3;
    border-image-width: 9px;
    border-image-repeat: stretch;
    image-rendering: pixelated;
}

.item-slot img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

.item-slot-build.selected {
    border-color: yellow;
}

.item-slot, .item-visual {
    position: relative;
}

.item-slot.weapon-item-slot {
    border-image-source: var(--border-weapon);
}

.weapon-slot {
    width: 120px;
    height: 120px;
    border: 9px solid transparent;
    position: relative;
    border-image-source: var(--border-weapon);
    border-image-slice: 3;
    border-image-width: 9px;
    border-image-repeat: stretch;
    image-rendering: pixelated;
}

.weapon-corner-icon, .rarity-icon {
    position: absolute;
    width: 30%;
    height: 30%;
    background-size: contain;
    image-rendering: pixelated;
}

.weapon-corner-icon {
    top: -10px;
    left: -10px;
    background-image: var(--icon-weapon-corner);
}

.rarity-icon {
    top: -10px;
    right: -10px;
}

.item-visual {
    position: relative;
    width: 100%;
    height: 100%;
}

.item-visual img {
    width: 75%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}

.stack-count {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: white;
    background-color: black;
    padding: 2px 4px;
}

.weapon-oils {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.oil-toggle {
    width: 48px;
    height: 48px;
    padding: 4px;
    cursor: pointer;
    image-rendering: pixelated;
    opacity: 0.4;
}

.oil-toggle.active {
    opacity: 1;
}

.build-stats {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.stat-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  border: 9px solid transparent;
  border-image-source: var(--border-basic);
  border-image-slice: 3;
  border-image-width: 9px;
  border-image-repeat: stretch;
  image-rendering: pixelated;
  padding: 4px 8px;
}

.stat-icon {
  width: 20px;
  height: 20px;
  image-rendering: pixelated;
}

.stat-value {
    display: inline-block;
    min-width: 24px;
    text-align: right;
}

.item-picker {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.item-grid {
    flex-grow: 2.5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    align-content: flex-start;
}

.item-filter {
    flex-grow: 1.5;
}

.tooltip {
    position: absolute;
    display: none;
    background-color: #25131a;
    color: #e6deca;
    border: 2px solid white;
    padding: 8px;
    pointer-events: none;
    border-image-source: var(--border-basic);
    border-image-slice: 3;
    border-image-width: 9px;
    border-image-repeat: stretch;
    image-rendering: pixelated;
}